@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
}
/* 
.ant-tabs-tab-active {
  border-bottom: 2px solid #1890ff;
} */

.ant-table-thead tr .ant-table-cell.rate-summary-table-column {
	background-color: #e0e7ff !important;
}

.ant-table-thead tr .ant-table-cell.member-list-table-column {
	background-color: #d1fae5 !important;
}

#dashboard-content * .ant-statistic-title,
#dashboard-content * .ant-statistic-content {
	color: white !important;
}

#goalTracker-content * .ant-statistic-title,
#goalTracker-content * .ant-statistic-content {
	color: white !important;
}
